.container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
}

.container .cart-card {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-height: 250px;
  width: 350px;
  z-index: 5;
  top: 0;
  right: 0;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .cart-card .cartText {
  padding: 1rem;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 2px solid #f7f8fd;
}

.container .cart-card .items {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.container .cart-card .items .item1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  position: relative;
}

.container .cart-card .items .item1 .item-detail {
  display: flex;
}

.container .cart-card .items .item1 .itemImage {
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  margin-right: 10px;
}

.container .cart-card .items .item1 .itemImage img {
  width: 100%;
}

.container .cart-card .items .checkout {
  position: relative;
  bottom: -3rem;
  background-color: #ff7d1a;
  color: #ffffff;
  border: none;
  padding: 1.2rem;
  width: 100%;
  border-radius: 10px;
}

.container .cart-card .empty {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #68707d;
  font-weight: 700;
  padding: 90px 0;
  z-index: 5;
}

.container .image-container {
  margin: auto;
}

.container .image-container .image-slider {
  position: relative;
  width: 100%;
}

.container .image-container .image-slider .slider-card {
  display: flex;
  flex-direction: row;
  width: 375px;
  height: 250px;
  pointer-events: none;
  overflow: hidden;
}

.container .image-container .image-slider .slider-card .images {
  display: none;
  width: 100%;
}

.container .image-container .image-slider .slider-card .active {
  display: inline-block;
}

.container .image-container .image-slider .arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 105px;
  transform: rotateY(-50%);
  width: 100%;
  padding: 0 1rem;
}

.container .image-container .image-slider .arrow #previous,
.container .image-container .image-slider .arrow #next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
}

.container .image-container .thumbnail {
  display: none;
}

.product-details {
  width: 375px;
  margin: auto;
  padding: 1rem;
}

.product-details .company {
  color: #ff7d1a;
  font-weight: 700;
}

.product-details .product-header {
  font-weight: 700;
}

.product-details .product-dest {
  color: #68707d;
  padding: 1rem 0;
}

.product-details .price {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  margin: 1rem 0;
}

.product-details .price .tag {
  display: flex;
}

.product-details .price .tag .discounted {
  font-weight: 700;
  padding-right: 1rem;
}

.product-details .price .tag .discount {
  background: #ffede0;
  color: #ff7d1a;
  font-weight: 700;
  padding: 0.3rem;
  border-radius: 5px;
}

.product-details .price .srp {
  color: #b6bcc8;
  text-decoration: line-through;
}

.product-details .counter {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background: #f7f8fd;
  color: black;
  font-weight: 700;
  padding: 1rem;
  margin-bottom: 1rem;
  height: 50px;
  border-radius: 10px;
}

.product-details .counter #minus,
.product-details .counter #plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.product-details .counter #minus:hover,
.product-details .counter #plus:hover {
  opacity: 0.7;
}

.product-details .counter #count {
  padding: 0 20px;
}

.product-details .addToCart {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff7d1a;
  color: #ffffff;
  width: 100%;
  height: 50px;
  font-weight: 700;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.product-details .addToCart path {
  fill: #ffffff;
}

.product-details .addToCart:hover {
  opacity: 0.7;
}
