header {
  position: relative;
}

header .header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin: auto;
}

header .header-nav .leftHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-nav .leftHeader .hamburger {
  padding-right: 1rem;
}

header .header-nav .leftHeader .link-container {
  display: none;
}

header .header-nav .rightHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-nav .rightHeader .cart {
  position: relative;
  cursor: pointer;
}

header .header-nav .rightHeader .cart .itemQty {
  position: absolute;
  top: -8px;
  right: 0;
  font-size: 12px;
  font-weight: 700;
  background: #ff7d1a;
  color: #ffffff;
  border-radius: 3px;
  padding: 0 4px;
}

header .header-nav .rightHeader .avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 1rem;
}

header .header-nav .rightHeader .avatar img {
  width: 100%;
}

header .header-nav .rightHeader .avatar:hover {
  border: 2px solid #ff7d1a;
}
