@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
header {
  position: relative;
}

.header-nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
}

.hamburger {
  padding-right: 1rem;
}

.leftHeader,
.rightHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-container {
  display: none;
}

.cart {
  position: relative;
  cursor: pointer;
}

.cart .itemQty {
  position: absolute;
  top: -8px;
  right: 0;
  background-color: #ff7d1a;
  padding: 0 4px;
  border-radius: 40%;
  font-size: 12px;
  color: white;
  font-weight: 700;
}

.avatar {
  margin-left: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.avatar img {
  width: 100%;
}

.avatar:hover {
  border: 2px solid #ff7d1a;
}

.mobile-nav {
  right: 100%;
  position: absolute;
  transition: all 1s ease;
}

.mobile-nav_active {
  display: block;
  background-color: white;
  min-height: 100vh;
  width: 100%;
  z-index: 5;
  top: 0;
  right: 30%;
  position: fixed;
  transition: all 1s ease;
}

#close {
  margin: 1rem 0 2rem 35%;
  transition: all 1s ease;
}

.mobile-nav a {
  display: block;
  z-index: 5;
  color: black;
  margin: auto auto 1rem 35%;
  text-decoration: none;
  font-weight: 700;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.cartContainer {
  display: none;
  position: absolute;
  background-color: white;
  min-height: 250px;
  width: 350px;
  z-index: 5;
  right: 0;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cartText {
  padding: 1rem;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 2px solid #f7f8fd;
}

.items {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.items .item1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  position: relative;
}

.items .item1 .item-detail {
  display: flex;
}

.items .item1 .itemImage {
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  margin-right: 10px;
}

.items .item1 .itemImage img {
  width: 100%;
}

.checkout {
  position: relative;
  bottom: -3rem;
  background-color: #ff7d1a;
  color: white;
  border: none;
  padding: 1.2rem;
  width: 100%;
  border-radius: 10px;
}

.empty {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #68707d;
  font-weight: 700;
  padding: 90px 0;
  z-index: 5;
}

.productImgContainer {
  position: relative;
  width: 100%;
}

.product-images {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}

.product-images .images {
  width: 100%;
}

.product-images .active {
  display: inline-block;
}

.arrowBtn {
  display: flex;
  position: absolute;
  top: 50%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
  padding: 0 1rem;
}

.arrowBtn img {
  background-color: white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
}

.images-thumbnails {
  display: none;
}

.product-details {
  width: 90%;
  margin: auto;
  padding: 1rem;
}

.companyName {
  color: #ff7d1a;
  font-weight: 700;
}

.product-header {
  font-weight: 700;
}

.product-description {
  color: #68707d;
  padding: 1rem 0;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  margin: 1rem 0;
}

.price-area {
  display: flex;
}

.price-area .afterDiscount {
  font-weight: 700;
  padding-right: 1rem;
}

.price-area .discountPercentage {
  color: #ff7d1a;
  background-color: #ffede0;
  font-weight: 700;
  padding: 0.3rem;
  border-radius: 5px;
}

.itemPrice {
  color: #b6bcc8;
  text-decoration: line-through;
}

.counter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f8fd;
  color: black;
  font-weight: 700;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.addToCart {
  background-color: #ff7d1a;
  color: white;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  fill: white;
}

.addToCart svg {
  fill: white;
  padding: 0 0.5rem;
}

@media screen and (min-width: 768px) {
  .header-nav {
    width: 750px;
    border-bottom: 1px solid #b6bcc8;
  }
  main {
    width: 750px;
    margin: auto;
  }
  .hamburger {
    display: none;
  }
  .avatar {
    width: 3rem;
    height: 3rem;
  }
  .link-container {
    display: flex;
  }
  .link-container .links {
    display: flex;
    list-style: none;
    height: 18.4px;
  }
  .link-container .links li {
    padding-left: 1rem;
  }
  .link-container .links li a {
    text-decoration: none;
    color: #68707d;
  }
  .link-container .links li a:hover::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ff7d1a;
    display: flex;
    position: relative;
    bottom: -1.9rem;
  }
  .mobile-nav {
    display: none;
  }
  .logo {
    padding-right: 2rem;
  }
  .container {
    margin-top: 2rem;
    flex-direction: row;
  }
  .images-container {
    border-radius: 10px;
    width: 50%;
    overflow: hidden;
    padding: 1rem;
    transition: all 0.3s ease;
  }
  .images-container .product-images {
    border-radius: 10px;
    width: 350px;
    height: 350px;
    transition: all 0.3s ease;
  }
  .images-container .arrowBtn {
    display: none;
  }
  .images-container .images-thumbnails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    width: 350px;
    overflow: hidden;
    position: relative;
  }
  .images-container .images-thumbnails .thumbnails {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 69px;
    height: 69px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
  }
  .images-container .images-thumbnails .thumbnails img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .images-container .images-thumbnails .thumbnails_active {
    border: 3px solid #ff7d1a;
    opacity: 0.3;
    display: flex;
  }
  .product-details {
    width: 50%;
    padding: 1rem;
  }
  .price-container {
    flex-direction: column;
    justify-content: left;
  }
}

@media screen and (min-width: 1024px) {
  .header-nav {
    width: 1000px;
  }
  main {
    width: 1000px;
  }
}

.clone-card {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100vh;
  background: rgba(29, 32, 37, 0.85);
  z-index: 10;
  justify-content: center;
  align-items: center;
}

.clone-card .clone-container {
  position: relative;
  width: 450px;
  height: 550px;
}

.clone-card .clone-container .slider {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  position: relative;
  width: 450px;
  height: 450px;
}

.clone-card .clone-container .slider .close-slider {
  position: absolute;
  right: 0.5rem;
  top: -2rem;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.clone-card .clone-container .slider .close-slider path {
  fill: white;
}

.clone-card .clone-container .slider .close-slider:hover path {
  fill: #ff7d1a;
}

.clone-card .clone-container .slider .slider-image {
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
}

.clone-card .clone-container .slider .slider-image .cl-image {
  width: 100%;
  height: 100%;
  display: none;
}

.clone-card .clone-container .slider .slider-image .active {
  display: flex;
}

.clone-card .clone-container .slider .arrow-clone {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 50%;
}

.clone-card .clone-container .slider .arrow-clone .arr {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.clone-card .clone-container .slider .arrow-clone .arr:hover path {
  stroke: #ff7d1a;
}

.clone-card .clone-container .slider .arrow-clone .cl-prev {
  right: 25px;
}

.clone-card .clone-container .slider .arrow-clone .cl-next {
  left: 25px;
}

.clone-card .clone-container .clone-thumbnails {
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin: auto;
  bottom: 0;
}

.clone-card .clone-container .clone-thumbnails .cl-thumbnails {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 10px;
  cursor: pointer;
}

.clone-card .clone-container .clone-thumbnails .cl-thumbnails img {
  width: 100%;
}

.clone-card .clone-container .clone-thumbnails .cl_active {
  opacity: 0.6;
  border: 3px solid #ff7d1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-weight: 400;
}
