@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
header {
  position: relative;
}

.header-nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hamburger {
  padding-right: 1rem;
}

.leftHeader,
.rightHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  display: none;
}

.cart {
  position: relative;
}

.cart .itemQty {
  position: absolute;
  top: -8px;
  right: 0;
  background-color: #ff7d1a;
  padding: 0 4px;
  border-radius: 40%;
  font-size: 12px;
  color: white;
  font-weight: 700;
}

.avatar {
  padding-left: 1rem;
}

.avatar img {
  width: 2rem;
  height: 2rem;
}

.mobile-nav {
  right: 100%;
  position: absolute;
  transition: all 0.5s ease-out;
}

.mobile-nav_active {
  display: block;
  background-color: white;
  min-height: 100vh;
  width: 100%;
  z-index: 5;
  top: 0;
  right: 30%;
  position: fixed;
  transition: all 1s ease;
}

#close {
  margin: 1rem 0 2rem 35%;
  transition: all 0.5s ease-out;
}

.mobile-nav a {
  display: block;
  z-index: 5;
  color: black;
  margin: auto auto 1rem 35%;
  text-decoration: none;
  font-weight: 700;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.cartContainer {
  display: none;
  position: fixed;
  background-color: white;
  min-height: 250px;
  width: 350px;
  z-index: 5;
  right: 0;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
}

.cartText {
  padding: 1rem;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 2px solid #f7f8fd;
}

.items {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.items .item1 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 3rem;
  position: relative;
}

.items .item1 .itemImage {
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  margin-right: 10px;
}

.items .item1 .itemImage img {
  width: 100%;
}

.items .item1 .itemImage .delete {
  position: relative;
  right: 0;
}

.checkout {
  background-color: #ff7d1a;
  color: white;
  border: none;
  padding: 1rem;
  width: 100%;
  border-radius: 10px;
}

.empty {
  padding-top: 25%;
  text-align: center;
  color: #68707d;
  font-weight: 700;
  margin: auto;
  display: flex;
  justify-content: center;
}

.productImgContainer {
  position: relative;
  width: 100%;
}

.product-images {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  height: 300px;
}

.product-images .images {
  width: 100%;
}

.product-images .active {
  display: inline-block;
}

.arrowBtn {
  display: flex;
  position: absolute;
  top: 50%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
  padding: 0 1rem;
}

.arrowBtn img {
  background-color: white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
}

.images-thumbnails {
  display: none;
}

.product-details {
  width: 90%;
  margin: auto;
  padding: 1rem;
}

.companyName {
  color: #ff7d1a;
  font-weight: 700;
}

.product-header {
  font-weight: 700;
}

.product-description {
  color: #68707d;
  padding: 1rem 0;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}

.price-area {
  display: flex;
}

.price-area .afterDiscount {
  font-weight: 700;
  padding-right: 1rem;
}

.price-area .discountPercentage {
  color: #ff7d1a;
  background-color: #ffede0;
  font-weight: 700;
  padding: 0.3rem;
  border-radius: 5px;
}

.itemPrice {
  color: #b6bcc8;
  text-decoration: line-through;
}

.counter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f8fd;
  color: black;
  font-weight: 700;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.addToCart {
  background-color: #ff7d1a;
  color: white;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  fill: white;
}

.addToCart #cart {
  fill: currentColor;
  color: white;
  padding: 0 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-weight: 400;
}
