@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
header {
  position: relative;
}

header .header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: auto;
}

header .header-nav .leftHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-nav .leftHeader .hamburger {
  padding-right: 1rem;
}

header .header-nav .leftHeader .link-container {
  display: none;
}

header .header-nav .rightHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-nav .rightHeader .cart {
  position: relative;
  cursor: pointer;
  width: 22px;
  height: 20px;
}

header .header-nav .rightHeader .cart .itemQty {
  position: absolute;
  top: -8px;
  right: -3px;
  font-size: 10px;
  font-weight: 700;
  background: #ff7d1a;
  color: #ffffff;
  border-radius: 4px;
  padding: 0 4px;
}

header .header-nav .rightHeader .avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 1rem;
}

header .header-nav .rightHeader .avatar img {
  width: 100%;
}

header .header-nav .rightHeader .avatar:hover {
  border: 2px solid #ff7d1a;
}

.mobile-nav {
  position: absolute;
  top: 0;
  width: 100%;
  right: 100%;
  transition: all 1s ease;
  z-index: 10;
}

.mobile-nav .mobile-con {
  position: absolute;
  top: 0;
  width: 60%;
  height: 100vh;
  background-color: #ffffff;
  z-index: 11;
}

.mobile-nav #close {
  margin: 1rem 0 2rem 1rem;
  cursor: pointer;
  transition: all 1s ease;
  width: 20px;
  height: 20px;
}

.mobile-nav a {
  display: block;
  z-index: 5;
  color: black;
  margin: auto auto 1rem 1rem;
  text-decoration: none;
  font-weight: 700;
}

.mobile-nav_active {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(29, 32, 37, 0.85);
  min-height: 100vh;
  width: 100%;
  z-index: 10;
  transition: all 1s ease;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
}

.container .cart-card {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-height: 250px;
  width: 350px;
  z-index: 5;
  top: 0;
  right: 0;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .cart-card .cartText {
  padding: 1rem;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 2px solid #f7f8fd;
}

.container .cart-card .items {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.container .cart-card .items .item1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  position: relative;
}

.container .cart-card .items .item1 .item-detail {
  display: flex;
}

.container .cart-card .items .item1 .itemImage {
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  margin-right: 10px;
}

.container .cart-card .items .item1 .itemImage img {
  width: 100%;
}

.container .cart-card .items .checkout {
  position: relative;
  bottom: -3rem;
  background-color: #ff7d1a;
  color: #ffffff;
  border: none;
  padding: 1.2rem;
  width: 100%;
  border-radius: 10px;
}

.container .cart-card .empty {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #68707d;
  font-weight: 700;
  padding: 90px 0;
  z-index: 5;
}

.container .image-container {
  margin: auto;
}

.container .image-container .image-slider {
  position: relative;
  width: 100%;
}

.container .image-container .image-slider .slider-card {
  display: flex;
  flex-direction: row;
  width: 375px;
  height: 250px;
  pointer-events: none;
  overflow: hidden;
}

.container .image-container .image-slider .slider-card .images {
  display: none;
  width: 100%;
}

.container .image-container .image-slider .slider-card .active {
  display: inline-block;
}

.container .image-container .image-slider .arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 105px;
  transform: rotateY(-50%);
  width: 100%;
  padding: 0 1rem;
}

.container .image-container .image-slider .arrow #previous,
.container .image-container .image-slider .arrow #next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
}

.container .image-container .thumbnail {
  display: none;
}

.product-details {
  width: 375px;
  margin: auto;
  padding: 1rem;
}

.product-details .company {
  color: #ff7d1a;
  font-weight: 700;
}

.product-details .product-header {
  font-weight: 700;
}

.product-details .product-dest {
  color: #68707d;
  padding: 1rem 0;
}

.product-details .price {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  margin: 1rem 0;
}

.product-details .price .tag {
  display: flex;
}

.product-details .price .tag .discounted {
  font-weight: 700;
  padding-right: 1rem;
}

.product-details .price .tag .discount {
  background: #ffede0;
  color: #ff7d1a;
  font-weight: 700;
  padding: 0.3rem;
  border-radius: 5px;
}

.product-details .price .srp {
  color: #b6bcc8;
  text-decoration: line-through;
}

.product-details .counter {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background: #f7f8fd;
  color: black;
  font-weight: 700;
  padding: 1rem;
  margin-bottom: 1rem;
  height: 50px;
  border-radius: 10px;
}

.product-details .counter #minus,
.product-details .counter #plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.product-details .counter #minus:hover,
.product-details .counter #plus:hover {
  opacity: 0.7;
}

.product-details .counter #count {
  padding: 0 20px;
}

.product-details .addToCart {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff7d1a;
  color: #ffffff;
  width: 100%;
  height: 50px;
  font-weight: 700;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.product-details .addToCart path {
  fill: #ffffff;
}

.product-details .addToCart:hover {
  opacity: 0.7;
}

@media screen and (min-width: 768px) {
  header .header-nav {
    width: 750px;
    border-bottom: 1px solid #b6bcc8;
  }
  header .header-nav .leftHeader .hamburger {
    display: none;
  }
  header .header-nav .leftHeader .logo {
    padding-right: 2rem;
  }
  header .header-nav .leftHeader .link-container {
    display: flex;
  }
  header .header-nav .leftHeader .link-container .links {
    display: flex;
    list-style: none;
    height: 18.4px;
  }
  header .header-nav .leftHeader .link-container .links li {
    padding-left: 1rem;
  }
  header .header-nav .leftHeader .link-container .links li a {
    text-decoration: none;
    color: #68707d;
  }
  header .header-nav .leftHeader .link-container .links li a:hover {
    color: black;
  }
  header .header-nav .leftHeader .link-container .links li a:hover::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #ff7d1a;
    display: flex;
    position: relative;
    bottom: -1.8rem;
  }
  header .header-nav .rightHeader .avatar {
    width: 3rem;
    height: 3rem;
    margin-left: 3rem;
  }
  .mobile-nav {
    display: none;
  }
  main {
    width: 750px;
    margin: auto;
  }
  .container {
    padding-top: 4rem;
    flex-direction: row;
    width: 100%;
    margin: auto;
  }
  .container .image-container {
    border-radius: 10px;
    width: 50%;
    overflow: hidden;
    padding: 1rem;
    transition: all 0.3s ease;
  }
  .container .image-container .image-slider .slider-card {
    border-radius: 10px;
    width: 350px;
    height: 350px;
    transition: all 0.3s ease;
    pointer-events: auto;
  }
  .container .image-container .image-slider .arrow {
    display: none;
  }
  .container .image-container .thumbnail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    width: 350px;
    overflow: hidden;
    position: relative;
  }
  .container .image-container .thumbnail .thumbnails {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 69px;
    height: 69px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
  }
  .container .image-container .thumbnail .thumbnails img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container .image-container .thumbnail .thumbnails_active {
    border: 3px solid #ff7d1a;
    opacity: 0.3;
    display: flex;
  }
  .container .product-details {
    width: 350px;
    padding: 1rem;
  }
  .container .product-details .price {
    flex-direction: column;
    justify-content: left;
    margin: 2rem 0;
  }
  .container .product-details .counter-card {
    display: flex;
  }
  .container .product-details .counter-card .counter {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1024px) {
  header .header-nav {
    width: 950px;
  }
  main {
    width: 950px;
  }
}

.clone-card {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100vh;
  background: rgba(29, 32, 37, 0.85);
  z-index: 10;
  justify-content: center;
  align-items: center;
}

.clone-card .clone-container {
  position: relative;
  width: 450px;
  height: 550px;
}

.clone-card .clone-container .slider {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  position: relative;
  width: 450px;
  height: 450px;
}

.clone-card .clone-container .slider .close-slider {
  position: absolute;
  right: 0.5rem;
  top: -2rem;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.clone-card .clone-container .slider .close-slider path {
  fill: #ffffff;
}

.clone-card .clone-container .slider .close-slider:hover path {
  fill: #ff7d1a;
}

.clone-card .clone-container .slider .slider-image {
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
}

.clone-card .clone-container .slider .slider-image .cl-image {
  width: 100%;
  height: 100%;
  display: none;
}

.clone-card .clone-container .slider .slider-image .active {
  display: flex;
}

.clone-card .clone-container .slider .arrow-clone {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 50%;
}

.clone-card .clone-container .slider .arrow-clone .arr {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.clone-card .clone-container .slider .arrow-clone .arr:hover path {
  stroke: #ff7d1a;
}

.clone-card .clone-container .slider .arrow-clone .cl-prev {
  right: 25px;
}

.clone-card .clone-container .slider .arrow-clone .cl-next {
  left: 25px;
}

.clone-card .clone-container .clone-thumbnails {
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin: auto;
  bottom: 0;
}

.clone-card .clone-container .clone-thumbnails .cl-thumbnails {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 10px;
  cursor: pointer;
}

.clone-card .clone-container .clone-thumbnails .cl-thumbnails img {
  width: 70px;
  height: 70px;
}

.clone-card .clone-container .clone-thumbnails .cl_active {
  opacity: 0.6;
  border: 3px solid #ff7d1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: "Kumbh Sans", sans-serif;
}
