@media screen and (min-width: 768px) {
  header {
    border-bottom: 1px solid #b6bcc8;
  }
  .hamburger {
    display: none;
  }
  .link-container {
    display: flex;
  }
  .link-container .links {
    display: flex;
    list-style: none;
  }
  .link-container .links li {
    padding-left: 1rem;
  }
  .link-container .links li a {
    text-decoration: none;
    color: #68707d;
  }
  .link-container .links li a::after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background-color: #ff7d1a;
  }
  .mobile-nav {
    display: none;
  }
  .logo {
    padding: 2rem;
  }
  .container {
    margin-top: 2rem;
    flex-direction: row;
  }
  .images-container {
    border-radius: 10px;
    width: 50%;
    overflow: hidden;
    padding: 1rem;
  }
  .images-container .product-images {
    border-radius: 10px;
    width: 350px;
    height: 350px;
  }
  .images-container .arrowBtn {
    display: none;
  }
  .images-container .images-thumbnails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    width: 350px;
  }
  .images-container .images-thumbnails .thumbnails {
    width: 69px;
    height: 69px;
    border-radius: 10px;
    overflow: hidden;
  }
  .images-container .images-thumbnails .thumbnails img {
    width: 100%;
    height: 100%;
  }
  .images-container .images-thumbnails .thumbnails_active {
    border: 2px solid #ff7d1a;
    opacity: 0.3;
  }
  .product-details {
    width: 50%;
    padding: 1rem;
  }
}
