@media screen and (min-width: 768px) {
  .header-nav {
    width: 750px;
    border-bottom: 1px solid #b6bcc8;
  }
  main {
    width: 750px;
    margin: auto;
  }
  .hamburger {
    display: none;
  }
  .avatar {
    width: 3rem;
    height: 3rem;
  }
  .link-container {
    display: flex;
  }
  .link-container .links {
    display: flex;
    list-style: none;
    height: 18.4px;
  }
  .link-container .links li {
    padding-left: 1rem;
  }
  .link-container .links li a {
    text-decoration: none;
    color: #68707d;
  }
  .link-container .links li a:hover::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ff7d1a;
    display: flex;
    position: relative;
    bottom: -3.1rem;
  }
  .mobile-nav {
    display: none;
  }
  .logo {
    padding-right: 2rem;
  }
  .container {
    margin-top: 2rem;
    flex-direction: row;
  }
  .images-container {
    border-radius: 10px;
    width: 50%;
    overflow: hidden;
    padding: 1rem;
    transition: all 0.3s ease;
  }
  .images-container .product-images {
    border-radius: 10px;
    width: 350px;
    height: 350px;
    transition: all 0.3s ease;
  }
  .images-container .arrowBtn {
    display: none;
  }
  .images-container .images-thumbnails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    width: 350px;
    overflow: hidden;
    position: relative;
  }
  .images-container .images-thumbnails .thumbnails {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 69px;
    height: 69px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
  }
  .images-container .images-thumbnails .thumbnails img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .images-container .images-thumbnails .thumbnails_active {
    border: 3px solid #ff7d1a;
    opacity: 0.3;
    display: flex;
  }
  .product-details {
    width: 50%;
    padding: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .header-nav {
    width: 1000px;
  }
  main {
    width: 1000px;
  }
}
