// @import "variable";

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
}

.cartContainer {
  display: none;
  position: absolute;
  background-color: $white;
  min-height: 250px;
  width: 350px;
  z-index: 5;
  right: 0;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cartText {
  padding: 1rem;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 2px solid $lightGrayishBlue;
}

.items {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  .item1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
    position: relative;

    .item-detail {
      display: flex;
    }

    .itemImage {
      overflow: hidden;
      width: 3rem;
      height: 3rem;
      border-radius: 5px;
      margin-right: 10px;

      img {
        width: 100%;
      }
    }
  }
}

.checkout {
  position: relative;
  bottom: -3rem;
  background-color: $orange;
  color: $white;
  border: none;
  padding: 1.2rem;
  width: 100%;
  border-radius: 10px;
}

.empty {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: $darkGrayishBlue;
  font-weight: 700;
  padding: 90px 0;
  z-index: 5;
}

.images-container {
  margin: auto;
}

.productImgContainer {
  position: relative;
  width: 100%;
}

.product-images {
  display: flex;
  flex-direction: row;
  width: 375px;
  height: 250px;
  pointer-events: none;

  overflow: hidden;

  .images {
    width: 100%;
  }

  .active {
    display: inline-block;
  }
}

.arrowBtn {
  display: flex;
  position: absolute;
  top: 50%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
  padding: 0 1rem;

  #previous,
  #next {
    background-color: $white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.images-thumbnails {
  display: none;
}

.product-details {
  width: 375px;
  margin: auto;
  padding: 1rem;
}

.companyName {
  color: $orange;
  font-weight: 700;
}

.product-header {
  font-weight: 700;
}

.product-description {
  color: $darkGrayishBlue;
  padding: 1rem 0;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  margin: 1rem 0;
}

.price-area {
  display: flex;

  .afterDiscount {
    font-weight: 700;
    padding-right: 1rem;
  }

  .discountPercentage {
    color: $orange;
    background-color: $paleOrange;
    font-weight: 700;
    padding: 0.3rem;
    border-radius: 5px;
  }
}

.itemPrice {
  color: $grayishBlue;
  text-decoration: line-through;
}

.counter-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: $lightGrayishBlue;
  color: $black;
  font-weight: 700;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  height: 50px;

  #counter {
    padding: 0 20px;
  }

  #minus,
  #plus {
    width: 15px;
    height: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div:hover {
    opacity: 0.7;
  }
}

.addToCart {
  background-color: $orange;
  color: $white;
  width: 100%;
  height: 50px;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  cursor: pointer;

  path {
    fill: $white;
  }
}

.addToCart:hover {
  opacity: 0.7;
}
