@import "variable";

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;

  .cart-card {
    display: none;
    position: absolute;
    background-color: $white;
    min-height: 250px;
    width: 350px;
    z-index: 5;
    top: 0;
    right: 0;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .cartText {
      padding: 1rem;
      width: 100%;
      padding-bottom: 1rem;
      border-bottom: 2px solid $lightGrayishBlue;
    }

    .items {
      position: relative;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;

      .item1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 3rem;
        position: relative;

        .item-detail {
          display: flex;
        }

        .itemImage {
          overflow: hidden;
          width: 3rem;
          height: 3rem;
          border-radius: 5px;
          margin-right: 10px;

          img {
            width: 100%;
          }
        }
      }

      .checkout {
        position: relative;
        bottom: -3rem;
        background-color: $orange;
        color: $white;
        border: none;
        padding: 1.2rem;
        width: 100%;
        border-radius: 10px;
      }
    }

    .empty {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      color: $darkGrayishBlue;
      font-weight: 700;
      padding: 90px 0;
      z-index: 5;
    }
  }

  .image-container {
    margin: auto;

    .image-slider {
      position: relative;
      width: 100%;

      .slider-card {
        display: flex;
        flex-direction: row;
        width: 375px;
        height: 250px;
        pointer-events: none;
        overflow: hidden;

        .images {
          width: 100%;
        }

        .active {
          display: inline-block;
        }
      }

      .arrow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 105px;
        transform: rotateY(-50%);
        width: 100%;
        padding: 0 1rem;

        #previous,
        #next {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: $white;
        }
      }
    }

    .thumbnail {
      display: none;
    }
  }
}

.product-details {
  width: 375px;
  margin: auto;
  padding: 1rem;

  .company {
    color: $orange;
    font-weight: 700;
  }

  .product-header {
    font-weight: 700;
  }

  .product-dest {
    color: $darkGrayishBlue;
    padding: 1rem 0;
  }

  .price {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    margin: 1rem 0;

    .tag {
      display: flex;

      .discounted {
        font-weight: 700;
        padding-right: 1rem;
      }

      .discount {
        background: $paleOrange;
        color: $orange;
        font-weight: 700;
        padding: 0.3rem;
        border-radius: 5px;
      }
    }

    .srp {
      color: $grayishBlue;
      text-decoration: line-through;
    }
  }

  .counter {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: $lightGrayishBlue;
    color: $black;
    font-weight: 700;
    padding: 1rem;
    margin-bottom: 1rem;
    height: 50px;
    border-radius: 10px;

    #minus,
    #plus {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15px;
      height: 15px;
      cursor: pointer;
    }

    #minus:hover,
    #plus:hover {
      opacity: 0.7;
    }

    #count {
      padding: 0 20px;
    }
  }

  .addToCart {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $orange;
    color: $white;
    width: 100%;
    height: 50px;
    font-weight: 700;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    path {
      fill: $white;
    }
  }

  .addToCart:hover {
    opacity: 0.7;
  }
}
