@import "variable";

.container {
  display: flex;
  flex-direction: column;
}

.productImgContainer {
  position: relative;
  width: 100%;
}

.product-images {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;

  .images {
    width: 100%;
    // display: none;
  }

  .active {
    display: inline-block;
  }
}

.arrowBtn {
  display: flex;
  position: absolute;
  top: 50%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
  padding: 0 1rem;

  img {
    background-color: $white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
  }
}

.images-thumbnails {
  display: none;
}

.product-details {
  width: 90%;
  margin: auto;
  padding: 1rem;
}

.companyName {
  color: $orange;
  font-weight: 700;
}

.product-header {
  font-weight: 700;
}

.product-description {
  color: $darkGrayishBlue;
  padding: 1rem 0;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}

.price-area {
  display: flex;

  .afterDiscount {
    font-weight: 700;
    padding-right: 1rem;
  }

  .discountPercentage {
    color: $orange;
    background-color: $paleOrange;
    font-weight: 700;
    padding: 0.3rem;
    border-radius: 5px;
  }
}

.itemPrice {
  color: $grayishBlue;
  text-decoration: line-through;
}

.counter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $lightGrayishBlue;
  color: $black;
  font-weight: 700;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.addToCart {
  background-color: $orange;
  color: $white;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  fill: $white;

  #cart {
    fill: currentColor;
    color: $white;
    padding: 0 0.5rem;
  }
}
