nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.links {
  display: none;
}

.avatar {
  img {
    width: 2rem;
    height: 2rem;
  }
}
