@import "variable";

header {
  position: relative;

  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin: auto;

    .leftHeader {
      display: flex;
      justify-content: center;
      align-items: center;

      .hamburger {
        padding-right: 1rem;
      }

      .link-container {
        display: none;
      }
    }

    .rightHeader {
      display: flex;
      justify-content: center;
      align-items: center;

      .cart {
        position: relative;
        cursor: pointer;

        .itemQty {
          position: absolute;
          top: -8px;
          right: 0;
          font-size: 12px;
          font-weight: 700;
          background: $orange;
          color: $white;
          border-radius: 3px;
          padding: 0 4px;
        }
      }

      .avatar {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 1rem;

        img {
          width: 100%;
        }
      }

      .avatar:hover {
        border: 2px solid $orange;
      }
    }
  }
}
