@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
@import "variable";
@import "header";
@import "mobile-nav";
@import "content";
@import "responsive";
@import "clone";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: "Kumbh Sans", sans-serif;
}
